{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <!-- CSS only -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="{% url 'item:catalog' %}"><span class="logo">Minimarket</span></a>
            <br>
        {% if request.user.is_authenticated %}
            <a href="{% url 'account:profile' request.user.pk %}">{{request.user.username}}</a> |
                <a href="{% url 'account:logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'account:login' %}">Sign in</a> |
                <a href="{% url 'account:register' %}">Sign up</a>
        {% endif %}
    </div>
    <div id="sidebar">
        <h3>Catalog</h3>
        <ul>
            {% url 'item:catalog' as catalogurl %}
            <li {% if request.path == catalogurl %} class="selected" {% endif %} >
                <a href="{% url 'item:catalog' %}">All</a>
            </li>
            {% for c in catalog %}
                <li {% if c.slug in request.path %} class="selected" {% endif %}>
                    <a href="{% url 'item:category' catalog_slug=c.slug %}">{{c.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
            <div id="main" class="item-list">
                <h1>{{Catalog}}</h1>
                {% for c in catalog %}
                    {% thumbnail c.image '200' as im %}
                        <div class="item">
                            <a href="{% url 'item:category' catalog_slug=c.slug %}"><h3>{{ c.name }}</h3>
                                <img src="{% if c.image %}{{ im.url }}{% else %} {% static 'img/no_image' %}{% endif %}">
                            </a>
                        </div>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>
</body>
</html>